html {
	position: relative;
	min-height: 100%;
}

body {
	width: 1260px;
}

header {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	height: 120px;
	background-color: #ffffff;
	border-bottom: solid 2px #cccccc;
	position: relative;
}

.myname {
	position: absolute;
	bottom: 0;
	left: 135px;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	height: 55px;
	width: 240px;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
}

.pagenav {
	position: absolute;
	bottom: 0;
	right: 210px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #b8ada9;
	vertical-align: middle;
	height: 60px;
}

a:link {
    color: #afaeaf;
     text-decoration: none;
}

a:visited {
    color: #afaeaf;
     text-decoration: none;
}

a:hover {
    color: #4aaaa5;
     text-decoration: underline;
}


main {
	width: 1260px;
	background-image: url("../images/skyscraper.png");
	overflow: auto; 
	display: block;
	padding-bottom: 50px;
}

article {
	float: left;
	width: 580px;
	margin-top: 35px;
	margin-left: 140px;
	background-color: #ffffff;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	padding: 25px 25px 25px 25px;
	line-height: 200%;
}

section {
	padding-bottom: 25px;
}


.img1 {
	float: left;
	padding-right: 10px; 
}

.img2 {
	margin-left: 25px;
	border: 0;
}

.h1class {
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: bolder;
	font-size: 25px;	
}

.hr1 {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1.5px;
    border-color:  #dddddd;   
}

.hr2 {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 1.0em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1.2px;
    border-color:  #dddddd;   
}

aside {
	float: right;
	width: 270px;
	margin-top: 35px;
	margin-right: 150px;
	background-color: #ffffff;
	color: #4aaaa5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	padding: 15px 25px 25px 25px;
	line-height: 200%;
	font-weight: bold;
	text-align: center;
}


footer {
	clear: both;
	background-color: #666666;
	color: #bdb1a0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 1260px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 12px;
	border-top: solid 10px;
	border-color: #4aaaa5; 
	position: absolute;
	left: 0;
	bottom: 0;
	}

.submit1 {
	border: solid 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 120px;
	height: 40px;
	background: #4aaaa5; 
	color: white;
	text-align: center;
	font-size: 20px;
 /*	margin-left: 100px; */
	
}

.input1 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border: 1px solid #dddddd;
	padding: 5px 5px 5px 5px;
}


.customCharts {
	display: inline; 
	position: relative;
}

.customChartsText {
	position: absolute;
	bottom: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border: solid 0;
	width: 265px;
	height: 50px; 
	background: #4aaaa5; 
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 10px; 
}


.customSurveys {
	display: inline;
	padding-left: 40px;
	position: absolute;
}

.customSurveysText {
	position: absolute;
	bottom: 20px; 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border: solid 0;
	width: 265px;
	height: 50px; 
	background: #4aaaa5; 
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}